body{
    min-height: 100vh;
    margin: 0;
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header-bar{
    width: 100%;
    position: relative;
    height: 70px;
    margin-bottom: 30px;
    box-sizing: border-box;
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #222;
    text-shadow: 1px 1px 2px #fff, 2px 2px 8px #b2b2b2;
}
.header-bar .store-name{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.7rem;
    font-weight: bold;
    letter-spacing: 2px;
}
#date{
    position: absolute;
    left: 30px;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
#time {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

table{
    width: 80%;
    margin: 100px auto 40px auto;
    background: rgb(124, 154, 167);
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(204, 200, 200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(204, 200, 200);
}

input[type="text"],input[type="number"]{
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(165, 161, 161);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #4b99d8;
}
input[type="reset"]:hover{
    background: #4b99d8;
}

button{
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background: #4b99d8;
}